@using DistLab2.ViewModels;
@model AuctionVM
@{
  ViewData["Title"] = "Auction Details";
}

@{
  TimeSpan timeLeft = Model.EndDate - DateTime.Now;//todo fix bug when null
  decimal hieghestBid = Model.Bids.Count > 0 ? Model.Bids.Max(b => b.Amount) : 0;
}

<div class="py-4 h-[85vh]">
  <div class="grid-parent h-full">
    <div class="grid-side rounded-3xl bg-white p-8">
      <img src="https://mynewart.se/wp-content/uploads/2016/06/Mona-Lisa.jpg" alt="" class="mb-4 h-1/2 w-full rounded-xl object-cover object-top" />
      <h1 class="text-3xl font-bold mb-2">@Model.Name</h1>
      <p>@Model.Description</p>
    </div>
    <div class="grid-head flex flex-col justify-between rounded-3xl bg-white p-8">
      <div class="flex items-start justify-between">
        <div class="flex items-start gap-3">
          <div>
            <h1 class="text-3xl font-bold">@Model.Name</h1>
                        <p class="text-sm text-black/50">User id : @Model.UserId</p>
          </div>
          <span class="mt-2 rounded-xl bg-green-200 px-3 py-1 text-[12px]">@Model.Bids.Count Bids</span>
        </div>
      </div>

      <div class="flex items-center justify-start gap-20">
        <div>
          <p class="text-sm text-black/60">Start price</p>
          <h3 class="text-3xl font-bold">$@Model.StartingPrice</h3>
        </div>
        <div>
          <p class="text-sm text-black/60">Bids Made</p>
          <h3 class="text-3xl font-bold">@Model.Bids.Count</h3>
        </div>
        <div>
          <p class="text-sm text-black/60">Highest Bid</p>
          <h3 class="text-3xl font-bold">$@hieghestBid</h3>
        </div>
        <div>
          <p class="text-sm text-black/60">Time left</p>
          <h3 class="text-3xl font-bold">@($"{timeLeft.Days}d:{timeLeft.Hours}h")</h3>
        </div>
      </div>
    </div>
    <div class="grid-body relative flex flex-col rounded-3xl bg-white p-8">
      <h1 class="mb-3 text-3xl font-bold">Bids</h1>
      <div class="flex flex-grow flex-col justify-between overflow-y-scroll">
        <div class="flex flex-col place-self-stretch">
          @foreach (BidVM bid in Model.Bids)
          {
            <div class="mb-1 flex items-center justify-between border-b-[0.5px] py-3">
              <div class="flex flex-col items-start gap-2">
                <h3 class="text-xl font-semibold">@bid.Id</h3>
                <p class="text-[10px] text-black/50">@bid.CreatedTime</p>
              </div>
              <p class="text-lg">$@bid.Amount</p>
            </div>
          }
        </div>
      </div>
            <form asp-action="PlaceBid" asp-controller="Auction" method="post" class="flex gap-2 pt-3">
                <input  name="Amount" placeholder="Amount"
          class="flex-grow rounded-xl bg-cus-bg p-3 px-4 placeholder:font-light focus:outline-black" type="number" />
          <input name="Id" value="@Model.Id" type="hidden" />
        <button type="submit" class="rounded-xl bg-black/90 px-4 py-2 text-white">Place bid</button>
      </form>
    </div>
  </div>
</div>
